.cards-container {
    background: rgba(1, 45, 187, 0.333);
    /* background: linear-gradient(90deg,
            rgba(0, 151, 195, 1) 0%,
            rgba(113, 225, 255, 1) 23%,
            rgba(172, 228, 255, 1) 50%,
            rgba(255, 219, 118, 1) 77%,
            rgba(255, 237, 169, 1) 100%); */

    background-size: cover;
    background-position: center;
    border: solid 1px white;
    border-radius: 20px;
    margin: 10px;
    padding: 0px 40px;
    text-align: center;
    box-shadow: 3px 3px 5px black;
}