.card-container {
    /* display: block; */
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    background-color: aqua;
    margin: 0px;
    padding: 0px;
    border: 2px solid black;
}

.card-container div {
    overflow: hidden;
    position: absolute;
    backface-visibility: hidden;
    transition: .5s;
    border: 2px solid black;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.card-image {
    width: 200px;
    height: 200px;
}

.front {
    transform: perspective(1000px) rotateY(0deg);
}

.back {
    transform: perspective(1000px) rotateY(180deg);
}

.card-container:hover .front {
    transform: perspective(500px) rotateY(180deg);
}

.card-container:hover .back {
    transform: perspective(500px) rotateY(360deg);
}