.card-container {
    display: inline-block;
    position: relative;
    width: 170px;
    height: 170px;
    border-radius: 20px;
    /* background-color: aqua; */
    margin: 20px;
    padding: 0px;
    transition: .1s;
}

.card-container div {
    overflow: hidden;
    position: absolute;
    backface-visibility: hidden;
    transition: .4s;
    border: 2px solid black;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.card-image {
    width: 100%;
    height: 100%;
}

.front {
    transform: perspective(1000px) rotateY(0deg);
}

.detail {
    font-size: 16px;
    margin: 0px 5px;
}

.title {
    font-size: 25px;
    margin-top: 5px;
    text-align: center;
}


.back {
    color: aliceblue;
    background: rgb(15, 3, 38);
    background: radial-gradient(circle, rgba(15, 3, 38, 1) 0%, rgba(23, 0, 37, 1) 100%);
    transform: perspective(1000px) rotateY(180deg);
}

.card-container:hover .front {
    transform: perspective(500px) rotateY(180deg);
}

.card-container:hover .back {
    transform: perspective(500px) rotateY(360deg);
    box-shadow: 40px 40px 100px 22px rgba(0, 0, 0, 0.6);
}

.card-container:hover {
    transition: .4s;
    scale: 2;
    z-index: 1;

}